*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#wrapper{
    width: 100vw;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: verdana;
    color: white;
    background-color: #18181b;
    
    
}

.container{
    width: 80%;
    margin: 0 auto;
    height: 100vh;
}






.heroRight{
    width: 50%;
    height: 80vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.heroImage{
    max-height: 100%;
    filter: grayscale(0.2);
}
.heroImage:hover{
    filter: grayscale(0);
}



.siteHeader{
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
    height: 20vh;

}

.logoContainer{
    display: flex;
    align-items: center;
    color: aqua;
    user-select: none;
}

.logoInitial{
    font-family: 'Allura';
    font-size: 45px;
    margin-top: 0.2rem;
}


.logoText{
    margin-left: -0.4rem;
    margin-bottom: 0.2rem;
    font-size: 0.7rem;
}
.mainNav {
    display: flex;
    gap: 10px;
    
}

.mainNav a{
    text-decoration: none;
    font-size: 0.5rem;
    color: #ffffff;
    line-height: 1.2rem;
    
}

.mainNav a:hover{
    transform: scale(1.1);
    color: aqua;

}

.hero{
    display: flex;
}
.heroLeft{
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.heroHead{
    font-size: 1.2rem;
}
.heroName{
    color: aqua;
    font-size: 1.8rem;
    font-family: 'Noto Serif', serif;
    font-weight: 550;
}
.heroSubHead{
    font-size: 1rem;
    color: #ddd;
    margin-top: -10px;
    margin-bottom: 10px;
}

.btn{
    color: #00ffff;
    border: 1px solid aqua;
    border-radius: 5px;
    width: fit-content;
    padding: 5px 8px;
    font-size: 0.5rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;

    
}

.btn::after{
    
    content: "Via Mail";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.7s;
    background-color: #00ffff;
    color: #18181b;
    

}

.btn:hover.btn::after{
    transform: translateX(100%);
}

.aboutSec{
    height: 100vh;
    background-color: #000;
    width: 100%;
}

.aboutHead{
    width: 90%;
    margin: 0 auto;
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}
.initial{
    font-size: 1.5em;
    padding: 0;
    /* margin-left: 2em; */
}
.bout{
    margin-left: -0.7rem;

}
.aboutContainer{
    width: 80%;
    margin: 0 auto;
    position: relative;
    display: flex;
    height: 100%;
    gap: 20px;

}
.absolute{
    position: absolute;
}

.aboutLeft{
    overflow: hidden;
    height: 60%;
    width: 50%;
    position: relative;
}

.userImage{
    object-fit: cover;
    /* height: 100%;
    width: auto; */
    max-width: 100%;
    padding:20px;
    filter:grayscale(1);
    transition:all 1s;
    animation: scaleImage 5s linear infinite;
}
.aboutRight{
    width: 50%;
    font-size: 0.5rem;
}
.userImage img{
    z-index:-9;
  }

  @keyframes scaleImage {

    0%{
        filter:grayscale(0);
        transform:scale(1);
        
    }

    50%{
        transform:scale(1.1);
        filter:grayscale(1);
        box-shadow: 3px 3px 10px #eee;
    }

    100%{
        transform:scale(1);
        filter:grayscale(0);
    }
    
  }


 