*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
:root{
    --background-color: #18181b;
    --accent-color: rgb(255, 255, 255,0.15);
    --border-color:rgb(255, 255, 255,0.25);
    --text-color:#ffffff;
    /* --text-color:#00000040; */
}
body{
    background-color: var(--background-color);

}

#wrapper{
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    display: grid;
    place-items: center;
}
.currentPlayer{
    background-color: var(--accent-color);
    border-radius: 1rem;
    border: 1px solid var(--border-color);
    padding:0.5rem 3rem ;
    color: var(--text-color);
}
.ticTacToe{
    width: 90%;
    max-width: 20rem;
    background-color: var(--accent-color);
    border-radius: 1rem;
    border: 1px solid var(--border-color);
    padding:2rem ;
    color: var(--text-color);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    aspect-ratio: 1/1;
    
}

.box{
    width: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
    font-size: 3rem;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.borderRightBottom{
    border-right: 2px solid var(--text-color);
    border-bottom: 2px solid var(--text-color);
}

.borderRight{
    border-right: 2px solid var(--text-color);

}
.borderBottom{
    border-bottom: 2px solid var(--text-color);
}
.newGame{
    background-color: var(--accent-color);
    border-radius: 1rem;
    border: 1px solid var(--border-color);
    padding:0.5rem 2rem ;
    color: var(--text-color);
    visibility: hidden;
}
.active{
    visibility: visible;
}

.win{
    background-color: rgba(0, 255, 0, 0.3);
}
.moreOpt{
    position: fixed;
    height:45px;
    width: 45px;
    bottom: 20px;
    right: 20px;
    background-color: var(--accent-color);
    border-radius: 9999px;
    border: 1px solid var(--border-color);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;


}


.notActive{
    display: none;
}
