
.currentTab{
    background-color: rgb(219, 226, 239, 0.5);
    border-radius: 4px;
}

.notActive{
    display: none;
}

.parameterContainer{
    display:  flex;
}

.parameterContainer>div>img{
    width: 50%;
}